* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Comic Neue;
  font-style: italic;
}

/* utility */
img {
  width: 100%;
}

/* fine utility */


/* titolo */
header .title {
  height: 150px;
  background-image: url("../assets_day1/img/wall.png");
}

header .title h1 {
  font-size: 5rem;
  font-weight: 800;
}

header .bg-title {
  height: 150px;
}


/* cards */
main .jumbotron {
  /* height: 100vh; */
  background-image: url("../assets_day1/img/cork.png");
  padding: 50px;
}

main .container .user-cards .single-user-card {
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .8);
  background-color: white;
  width: 300px;
  height: 370px;
}

main .container .user-cards .single-user-card .pin {
  position: absolute;
  height: 30px;
  top: -10px;
  left: 0;
}

main .container .user-cards .single-user-card .text-card {
  font-size: 0.9rem;
  text-transform: capitalize;
}

/* fine cards */


/* mediaquery */
@media screen and (max-width: 420px) {
  .title h1 {
    font-size: 4rem;
    padding: 20px;
  }
}